.first{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid #ff0000; */
    align-items: center;
    height: 70px;
}
.first>div{
    /* border: 2px solid black; */
    width: 45%;
    height: 40px;
    align-items: center;
}
.first>div>img{
    height: 50px;
  margin-top: 0px;
  border-radius: 8px;
}
.first>div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid gray; */
    

}
.first>div>input:nth-child(1){
    font-size: 23px;
}
.first>div>a{
    border: 1px solid rgb(139, 139, 144);
    height: 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.second{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 10px; */
    /* border: 1px solid red; */
   
    height: 50px;
    align-items: center;
}
.second>a{
    text-decoration: none;
    color: black;
}
#nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#slidshow{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 5px soild red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px;
}
#slidshow>img{
    width: 100%;
    height: 500px;
    margin: auto;
  
}
.center{
    justify-content: center;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 40px;
}
#box,#box1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}
#box>div{
    width: 100%;
    text-align: center;
    text-decoration: none;
    /* background-color: aqua; */
}
#box>div>img{
    width: 100%;
}
#box>div>a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#box>div:hover{
    text-decoration: underline;
}
#box1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 40px;
}
#box1>div>img{
 width: 100%;
}
#box1>div>a{
    color: black;
}
#footer{
    margin: auto;
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 60px;
   display: grid;
   gap: 20px;
    
}
#footer>div>img{
    width: 100%;
}
