#NewArrivals{
    /* border: 1px solid red; */
    width: 93%;
    margin: auto;
    margin-top: 70px;
    display: flex;

}
.leftbox{
    border: 1px solid black;
    width: 15%;
}
.rightbox {
    /* border: 1px solid blue; */
    width: 83%;
    margin: auto;
}
#sort{
    width: 100px;
    padding-inline-start: 10px;
    margin-left:90%;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#container>div{
    width: 100%;
    border: 1px solid red;

}#container>div>img{
    width: 100%;
}